<h1>Edit <%= resource_name.to_s.humanize %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h2>プロフィール</h2>

  <div class="field">
    <%= f.label "ユーザーID" %><br />
    <%= f.text_field :userid, autocomplete: "userid" %>
  </div>

  <div class="field">
    <%= f.label "ユーザー名" %><br />
    <%= f.text_field :username, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label "お気に入りの台" %><br />
    <%= f.text_field :favorite, autocomplete: "favorite" %>
  </div>

  <div class="field">
    <%= f.label "自己紹介" %><br />
    <%= f.text_area :about, autocomplete: "about" %>
  </div>

  <div class="actions">
    <%= f.submit "完了" %>
  </div>

  <h2>セキュリティ</h2>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>


  <div class="actions">
    <%= f.submit "完了" %>
  </div>
<% end %>



<h2>退会</h2>

<p><%= button_to "退会する", registration_path(resource_name), data: { confirm: "本当に退会しますか？(データがすべて削除されます。)" }, method: :delete %></p>