<%= stylesheet_link_tag 'devise/sessions/new', media: 'all', 'data-turbolinks-track': 'reload' %>

<main class="text-center form-signin">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h1 class="h3 mb-3 fw-normal">サインアップ</h1>
    <label for="inputEmail" class="visually-hidden">Email address</label>
    <%= f.email_field :email, autofocus: true, class: "form-control", id: "input", placeholder: "Email"%>
    <%= f.submit "メールを送信", class:"w-100 btn btn-lg btn-primary",style:"margin-top: 26px;margin-bottom: 26px;"%>
  <% end %>
  <%= render "devise/shared/links" %>
</main>