<%= stylesheet_link_tag 'devise/sessions/new', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="text-center form-signin">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1 class="h3 mb-3 fw-normal">サインイン</h1>
    <label for="inputEmail" class="visually-hidden">Email address</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "inputEmail", placeholder: "Email"%>
    <label for="inputPassword" class="visually-hidden">Password</label>
    <%= f.password_field :password, autocomplete: "current-password", id: "inputPassword", class: "form-control", placeholder: "Password"%>
    <div class="checkbox mb-3">
      <label>
        <%= f.check_box :remember_me %> パスワードを記憶する
      </label>
    </div>
    <%= f.submit "サインイン", class:"w-100 btn btn-lg btn-primary"%>
  <% end %>
  <%= render "devise/shared/links" %>
</div>




